@using Zoombraco.Models
@using Zoombraco.Views

@inherits ZoombracoViewPage<RenderPage<ZoombracoDemo.Logic.Models.Generic>>

@{ Html.RenderPartial("~/Views/Partials/Shared/_HeroPanel.cshtml", Model.Content);}

<h1>@Model.Content.Name</h1>

<h2>Nested Content</h2>
@{ Html.RenderPartial("~/Views/Partials/Shared/_NestedContent.cshtml", Model.Content);}