<?xml version="1.0"?>
<FileSystemProviders>

  <!-- Media -->
  <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
      <add key="virtualRoot" value="~/media/" />
    </Parameters>
  </Provider>
  <!--Umbraco.FileSystemProviders-->
  <!--<Provider alias="media" type="Our.Umbraco.FileSystemProviders.Azure.AzureBlobFileSystem, Our.Umbraco.FileSystemProviders.Azure">
      <Parameters>
        <add key="containerName" value="media"/>
        <add key="rootUrl" value="http://imageprocessor.blob.core.windows.net/"/>
        <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=imageprocessor;AccountKey=NICE_TRY_MATE"/>
        -->
  <!--
        Optional configuration value determining the maximum number of days to cache items in the browser.
        Defaults to 365 days.
      -->
  <!--
        <add key="maxDays" value="365"/>
        -->
  <!--
        When true this allows the VirtualPathProvider to use the deafult "media" route prefix regardless
        of the container name.
      -->
  <!--
        <add key="useDefaultRoute" value="true"/>
        -->
  <!--
        When true blob containers will be private instead of public what means that you can't access the original blob file directly from its blob url.
      -->
  <!--
        <add key="usePrivateContainer" value="false"/>
      </Parameters>
    </Provider>-->

</FileSystemProviders>
