<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>

        <sectionGroup name="umbracoConfiguration">
            <section name="FileSystemProviders" type="Umbraco.Core.Configuration.FileSystemProvidersSection, Umbraco.Core" requirePermission="false" />
        </sectionGroup>

    </configSections>

    <umbracoConfiguration>
        <FileSystemProviders>
            <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
                <Parameters>
                    <add key="rootPath" value="Media\" />
                    <add key="rootUrl" value="/Media/" />
                </Parameters>
            </Provider>
            <!-- Macros -->
            <Provider alias="macros" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
                <Parameters>
                    <add key="rootPath" value="App_Data\Macros" />
                    <add key="rootUrl" value="/Macros/" />
                </Parameters>
            </Provider>
            <!-- Scripts -->
            <Provider alias="scripts" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
                <Parameters>
                    <add key="rootPath" value="scripts\" />
                    <add key="rootUrl" value="/scripts/" />
                </Parameters>
            </Provider>
            <!-- Stylesheets -->
            <Provider alias="stylesheets" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
                <Parameters>
                    <add key="rootPath" value="css\" />
                    <add key="rootUrl" value="/css/" />
                </Parameters>
            </Provider>
            <!-- Templates -->
            <Provider alias="masterpages" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
                <Parameters>
                    <add key="rootPath" value="masterpages\" />
                    <add key="rootUrl" value="/masterpages/" />
                </Parameters>
            </Provider>
            <Provider alias="views" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
                <Parameters>
                    <add key="rootPath" value="views\" />
                    <add key="rootUrl" value="/views/" />
                </Parameters>
            </Provider>
        </FileSystemProviders>
    </umbracoConfiguration>

    <appSettings>
        <add key="umbracoConfigurationStatus" value="6.0.0" />
        <add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx,~/VSEnterpriseHelper.axd" />
        <add key="umbracoReservedPaths" value="~/install/" />
        <add key="umbracoPath" value="~/umbraco" />
        <add key="umbracoHideTopLevelNodeFromPath" value="true" />
        <add key="umbracoUseDirectoryUrls" value="false" />
        <add key="umbracoTimeOutInMinutes" value="20" />
        <add key="umbracoDefaultUILanguage" value="en" />
        <add key="umbracoUseSSL" value="false" />
    </appSettings>

    <connectionStrings>
        <add name="umbracoDbDSN" connectionString="Data Source=..\ZoombracoDemo.Web\|DataDirectory|\Umbraco.sdf;Flush Interval=1;" providerName="System.Data.SqlServerCe.4.0" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.7.99.0" newVersion="4.7.99.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>
</configuration>